@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$title-font: 'Anton', sans-serif;
$body-font: 'Maven Pro', sans-serif;

.type {
    text-align: center;
    font-family: $title-font;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-top: -20px;
}

.contentBox {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: nowrap;
    overflow: auto;
}

.posterBox {
    .poster {
        width: 40vh;
        
    }
}

.space {
    width: 15px; 
}