html{background-color: #111111;}
body{background-color: #111111;}

.DCTitle{
    margin: auto;
    width: 50vw;
    height: 100px;
    text-align: center;
    font-size: 3vh;
    font-weight: 600;
    color: aliceblue;
    padding-top: 30px;
    margin-bottom: -12vw;
}
.DCGraph button{
    
    margin-top: -7vw !important;
    
}
.slick-arrow slick-next{
    
    margin-top: -7vw !important;
    
}
.DCGap{
    height: 15vh;
}

.DCGraph{
    margin: auto;
    margin-top: 4vw;
    padding-top: 5px;
    width: 40vw;
    text-align: center;
    background-color: #111111 !important;
}

.Box{
    text-align: center;
    width: 1200px;
    height: 420px;
    padding-top: 30px;
    background-color: white;
    border: 2px solid #111111;
}

.dataBar{
    display: flex;
	justify-content: center;
    align-items: flex-end;
}

.dataText{
    margin-left: 205px;
    margin-top: 10px;
    display: flex;
}

.DCDescription{
    padding-top: 40px;
    margin: auto;
    width: 37vw;
    background-color: #111111;
    color: aliceblue;
    font-size: 20px;
    text-align: left;
}

.GABar{
    width: 10px;
    height: 20px;
    background-color: #111111;
}

.img1{
    display: inline !important;
    width:40vw;
    margin-top: 9%;
    border: 5px solid #1b1a1a;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0 0 12px rgba(70,150,240,0.7) inset;
        border: 1px solid rgba(255,255,255,1);
        color: rgba(255,255,255,1);
    }
}
.img2{
    display: inline !important;
    width:39.5vw;
    margin-top: 15%;
    border: 5px solid #1b1a1a;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0 0 12px rgba(70,150,240,0.7) inset;
        border: 1px solid rgba(255,255,255,1);
        color: rgba(255,255,255,1);
    }
}

.img3{
    display: inline !important;
    width:33vw;
    border: 5px solid #1b1a1a;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0 0 12px rgba(70,150,240,0.7) inset;
        border: 1px solid rgba(255,255,255,1);
        color: rgba(255,255,255,1);
    }
}
