@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

p {
  color: white;
}

.mainWrap {
  background-color: black;
  .header {
    text-align: center;
    .headtext {
      font-size: 1.5em;
    }
  }
  .map_wrap {
    text-align: center;
  }
  .Explanation {
    font-size: 1.4em;
  }
}
