.MapHoverRedGray_Wrap {
  width: 215px;
  height: 70px;
  background-color: #212529;
  border-radius: 20px;
  .countryName {
    margin-top: 15px;
    display: inline-block;
    font-size: 22px;
    color: whitesmoke;
  }
}
