@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

$title-font: "Bebas Neue", sans-serif;
$body-font: "Maven Pro", sans-serif;

body {
  background-color: black;
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 700px;
}

.nationName {
  color: white;
  font-size: 4em;
  font-family: $title-font;
  text-align: center;
  letter-spacing: 4px;
  margin-left: 150px;
  float: left;
}

.title {
    color: white;
    font-family: $body-font;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 150px;
}

.guide {
  font-family: $title-font;
  color: white;
  font-size: 2.2em;
  margin-top: 20px;
}

.arrowIcon {
  color: white;
  height: 40px;
  width: 60px;
}

.arrowButton {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 2em;
  font-family: $title-font;
}

//color label

.genrecolor {
  font-family: $body-font;
  color: whitesmoke;
  margin-left: 50px;
  background-color: rgba(233, 221, 221, 0.329);
  border-radius: 40px;
  width: 150px;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.colorlist {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 4px;
  margin-left: 25px;
}

.circle {
  margin-left: 8px;
}

.year {
  font-family: $title-font;
  font-size: 2em;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 500px;
}

#contentContainer {
  height: 770px;
  width: 100%;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentBox {
  padding: 0;
  font-family: $title-font;
  font-size: 3.5em;
  overflow: hidden;
}

#content {
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.updown {
  border: 1px solid rgb(179, 179, 179);
  width: 0.1px;
  height: 700px;
  border-radius: 50px;
}

.movie {
  width: 45%;
  margin-right: 3%;
}

.show {
  width: 45%;
  margin-left: 3%;
}

.bottomContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.genreButton {
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.DaT {
  display: flex;
  margin-top: 40px;
  align-items: center;
}