@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$title-font: "Bebas Neue", sans-serif;

.hoverContainerT {
    font-family: $title-font;
    width: 400px;
    height: 450px;
    background-color: white;
    border: 4px solid #8A2BE2;
    border-radius: 20px 20px;
    padding-top: 8px;
    font-weight: bold;
    overflow: auto;
}

.hoverTimeTop {
    font-size: 24px;
    line-height: 1.2em;
}

.top1ContentT {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hoverTimeType {
    font-size: 22px;
}

.blank {
    width: 5px;
}

.movieT {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tvshowsT {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.hoverImg{
    margin-top: 5px;
    width: 18vh;
    height: 27vh;
}

.hoverTimeTitle{
    margin-top: 5px;
    font-size: 22px;
}